.search {
  height: 50vh;
  background-image: url("../img/search-background.jpg");
  b background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
