.search {
  height: 80vh;
  background-image: linear-gradient("000,000,000,0.1"),
    url("../img/search-background.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
