* {
  margin: 0;
  padding: 0;
}
.bird-name {
  height: 45px;
  font-size: 20px;
}
.bird-detail {
  font-size: 15px;
}
.sale-text {
  position: absolute;
  left: 5px;
  font-weight: bold;
  color: #07ad59;
  background-color: rgba(7, 173, 89, 0.1);
}
.bird-img {
  background-color: black;
}
@media screen and (max-width: 450px) {
  .bird-name {
    font-size: 17px;
    height: 35px;
  }
  .bird-detail {
    font-size: 13px;
  }
}
