* {
  margin: 0;
  padding: 0;
}
.bird-name {
  height: 45px;
  font-size: 20px;
}
.bird-detail {
  font-size: 15px;
}
.sale-text {
  position: absolute;
  left: 5px;
  top: 5px;
  font-weight: bold;
  color: #ff9800;
  background-color: rgba(0, 0, 0, 0.4);
}
.bird-img {
  height: 200px;
}
@media screen and (max-width: 450px) {
  .bird-name {
    font-size: 17px;
    height: 35px;
  }
  .bird-detail {
    font-size: 13px;
  }
}
@media screen and (max-width: 380px) {
  .bird-name {
    font-size: 16px;
    height: 35px;
  }
  .bird-detail {
    font-size: 12px;
  }
}
@media screen and (max-width: 335px) {
  .bird-name {
    font-size: 15px;
    height: 30px;
  }
  .bird-detail {
    font-size: 12px;
  }
}
